body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 100vh;
}

.image {
    width: 50px;
    position: absolute;
    transform: translate(10px, -30px);
}

.image[data-status="inactive"] {
    display: none;
}

.image[data-status="active"] {
    display: block;
}