body {
    display: flex;
    flex-direction: column;
    /* border: 3px solid red; */
    margin: auto;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: yellow;
} body.CV {
    background-color: white;
}
@keyframes grower-not-shower {
    0% {width: 0em;}
    100% {width: 20em;}
}
.contain {
    display: flex;
    flex-direction: row;
    /* border: 3px solid green; */
    width: 100%;
    height: 100%;
}
.header {
    position: sticky;
    background-color: grey;
    background: linear-gradient(180deg,rgba(128, 128, 128, 1) 0%, rgba(38, 38, 38, 1) 100%);
    color: white;
    width: 100%;
    height: 1.5em;
    box-sizing: border-box;
    padding-left: .5em;
    /* border-bottom: 2px solid black; */
    justify-content: center;
    align-items: center;
}
.left-container {
    display: flex;
    flex-direction: column;
    width: 15em;
    height: 100%;
    border-right: 2px solid white;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 1em;
    background-color: white;
}
.left-container.academic {
    width: 0%;
    border: 0px;
} .left-container.academic.show {
    animation: grower-not-shower .2s;
    width: 20em;
    /* background-color: purple; */
    justify-content: flex-start;
    border-right: 2px solid white;
    background-color: lightgrey;
    background: linear-gradient(90deg,rgb(255, 255, 255) 0%, rgb(120, 120, 120) 100%);
    /* padding: 1em; */
}
.left-container.personal {
    width: 0%;
    border: 0px;
} .left-container.personal.show {
    animation: grower-not-shower .2s;
    width: 20em;
    /* background-color: orange; */
    justify-content: flex-start;
    border-right: 2px solid white;
    background-color: lightgrey;
    background: linear-gradient(90deg,rgb(255, 255, 255) 0%, rgb(120, 120, 120) 100%);
    /* padding: 1em; */
}
.left-container.professional {
    width: 0%;
    border: 0px;
} .left-container.professional.show {
    animation: grower-not-shower .2s;
    width: 20em;
    /* background-color: green; */
    justify-content: flex-start;
    border-right: 2px solid white;
    background-color: lightgrey;
    background: linear-gradient(90deg,rgb(255, 255, 255) 0%, rgb(120, 120, 120) 100%);
    /* padding: 1em; */
}
.left-container.aboutMe {
    width: 0%;
    border: 0px;
} .left-container.aboutMe.show {
    animation: grower-not-shower .2s;
    width: 20em;
    /* background-color: green; */
    justify-content: flex-start;
    border-right: 2px solid white;
    background-color: lightgrey;
    background: linear-gradient(90deg,rgb(255, 255, 255) 0%, rgb(120, 120, 120) 100%);
    box-sizing: border-box;
    padding: 1em;
    /* padding: 1em; */
}
.left-container.contactMe {
    width: 0%;
    border: 0px;
} .left-container.contactMe.show {
    animation: grower-not-shower .2s;
    width: 20em;
    /* background-color: green; */
    justify-content: flex-start;
    border-right: 2px solid white;
    background-color: lightgrey;
    background: linear-gradient(90deg,rgb(255, 255, 255) 0%, rgb(120, 120, 120) 100%);
    box-sizing: border-box;
    padding: 1em;
}
.next-button {
    display: flex;
    flex-direction: column;
    /* border: 3px solid red; */
    border-bottom: 2px solid black;
    /* background-color: #add8e6; */
    background: linear-gradient(180deg,rgb(221, 221, 221) 0%, rgb(91, 91, 91) 100%);
    width: 100%;
    height: 2em;
    box-sizing: border-box;
    padding-left: .5em;
    justify-content: center;
    align-items: flex-start;
} .next-button.change {
    background: linear-gradient(180deg,rgba(173, 216, 230, 1) 0%, rgba(47, 112, 138, 1) 100%);
}
.next-button:is(:nth-child(1)) {
    background-color: #add8e6;
    background: linear-gradient(180deg, rgb(173, 216, 230) 0%, rgb(173, 216, 230) 100%);
    /* background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%); */
}
/* .next-button:is(:nth-child(5)) {
    background-color: white;
    background: linear-gradient(180deg,rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
} */
.next-button:is(:nth-child(5)) {
    background-color: white;
    background: linear-gradient(180deg, rgb(173, 216, 230) 0%, rgb(173, 216, 230) 100%);
    /* background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%); */
}
.content-container {
    display: flex;
    flex-direction: row;
    content-visibility: hidden;
} .content-container.show {
    content-visibility: visible;
    /* animation: grower-not-shower .2s; */
    /* width: auto; */
    width: 62.5%;
    height: 100%;
    background-color: yellow;
    /* border-left: 2px solid black; */
    box-sizing: border-box;
    /* padding: 1em; */
    justify-content: center;
    align-items: center;
    /* border: 3px solid red; */
    /* background-image: url(MEDIA/KARA\ FAULKNER\ is\ a\ graphic\ designer.png); background-position: right; background-size: 100%; background-repeat: no-repeat; */
}
.logoBox {
    display: flex;
    flex-direction: column;
    width: 3em;
    height: 3em;
    background-image: url(MEDIA/KF-logo-pink.png); background-repeat: no-repeat; background-size: 80%; background-position: center;
    background-color: #262626;
    margin-top: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #555555;
}
.content-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5em;
    gap: 2em;
    align-items: center;
    background: linear-gradient(180deg,rgb(221, 221, 221) 0%, rgb(91, 91, 91) 100%);
}
.content-wrap.academic {
    width: 0%;
    content-visibility: hidden;
} .content-wrap.academic.show {
    content-visibility: visible;
    width: 100%;
    /* border: 3px solid red; */
    background-color: lightblue;
    border-bottom: 2px solid black;
} .content-wrap.academic.change {
    background: linear-gradient(180deg,rgba(173, 216, 230, 1) 0%, rgba(47, 112, 138, 1) 100%);
}
.content-wrap.personal {
    width: 0%;
    content-visibility: hidden;
} .content-wrap.personal.show {
    width: 100%;
    content-visibility: visible;
    background-color: lightblue;
    border-bottom: 2px solid black
} .content-wrap.personal.change {
    background: linear-gradient(180deg,rgba(173, 216, 230, 1) 0%, rgba(47, 112, 138, 1) 100%);
}
.content-wrap.professional {
    width: 0%;
    content-visibility: hidden;
} .content-wrap.professional.show {
    width: 100%;
    content-visibility: visible;
    background-color: lightblue;
    border-bottom: 2px solid black
} .content-wrap.professional.change {
    background: linear-gradient(180deg,rgba(173, 216, 230, 1) 0%, rgba(47, 112, 138, 1) 100%);
}
.content-wrap.aboutMe {
    width: 0%;
    content-visibility: hidden;
} .content-wrap.aboutMe.show {
    width: 100%;
    height: auto;
    content-visibility: visible;
    /* background-color: lightblue;
    border-bottom: 2px solid black */
    background: linear-gradient(180deg,rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    border: 3px solid white;
}
.content-wrap.contactMe {
    width: 0%;
    content-visibility: hidden;
} .content-wrap.contactMe.show {
    width: 100%;
    height: auto;
    content-visibility: visible;
    /* background-color: lightblue;
    border-bottom: 2px solid black */
    background: linear-gradient(180deg,rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    border: 3px solid white;
}
img {
    width: 5em;
    height: 100%;
}
a {
    margin-top: auto;
}

.square-container {
    display: flex;
    flex-direction: column;
    width: 10em;
    height: 20em;
    /* border: 3px solid red; */
    /* background-image: url(MEDIA/KARA\ FAULKNER\ is\ a\ graphic\ designer.png); background-position: right; background-size: 100%; background-repeat: no-repeat;
    background-color: black; */
}

.vert-layout {
    display: flex;
    flex-direction: row;
    /* width: 60em; */
    width: 100%;
    height: 100%;
    border: 3px solid red;
}
.vert-layout.CV {
    display: flex;
    flex-direction: row;
    /* width: 60em; */
    width: 100%;
    height: 100%;
    border: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}
.img-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    /* background-image: url(MEDIA/portfolio/500-pageBookPhoto.jpg); background-repeat: no-repeat; background-position: center; background-size: cover; */
    /* border: 3px solid green; */
    overflow-y: auto;
    overflow-x: hidden;
}
.text-content-vert {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    /* border: 3px solid magenta; */
    box-sizing: border-box;
    padding: 1em;
    font-size: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.text-content-vert.CV {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* border: 3px solid magenta; */
    /* box-sizing: border-box;
    padding: 1em; */
    /* background-color: white; */
    font-size: 15px;
}